@model CreateAlbumViewModel
@{
    ViewData["Title"] = "CreateAlbum";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Yeni Albüm Ekleme Sayfası</h1>
<br />

<form method="post" enctype="multipart/form-data">

    @Html.Label("Albüm Adı")
    <input type="text" asp-for="AlbumName" class="form-control" />
    <span class="text-danger" asp-validation-for="AlbumName"></span>
    <br />
    @Html.Label("Albüm Görsel")
    <input type="file" asp-for="Image" class="form-control" />
    <span class="text-danger" asp-validation-for="Image"></span>
    <br />
    @Html.Label("Fiyat")
    <input type="text" asp-for="Price" class="form-control" />
    <span class="text-danger" asp-validation-for="Price"></span>
    <br />
    @Html.Label("Şarkıcı Seçiniz")
    @Html.DropDownListFor(x=>x.AppUserId,(List<SelectListItem>)ViewBag.SingerList,"Seçiniz",new {@class="form-control"})
    <span class="text-danger" asp-validation-for="AppUserId"></span>
    <br />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

