@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<Album>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h1>Albümler</h1>
<br />
<table class="table table-hover table-bordered">
    <tr>
        <td>#</td>
        <td>Resim</td>
        <td>Albüm Adı</td>
        <td>Şarkıcı</td>
        <td>Fiyat</td>
        <td colspan="2">İşlemler</td>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td><img src="@item.CoverImage" style="height:75px; width:75px; " /></td>
            <td>@item.AlbumName</td>
            <td style="text-transform:capitalize">@item.AppUser.Name @item.AppUser.Surname</td>
            <td>@item.Price.ToString("N0") ₺</td>
            <td><button onclick="deleteAlbum(@item.AlbumId)" class="btn btn-outline-danger">Sil</button></td>
        </tr>
    }
</table>

<br />

<div style="justify-content:center; align-items:center; display:flex">
    @Html.PagedListPager((IPagedList)Model,pageNumber =>Url.Action("Index",new {pageNumber}),new PagedListRenderOptions{LiElementClasses = new List  <string> {"page-link"}})
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    function deleteAlbum(id) {
        Swal.fire({
            title: "Kayıt Silme Onayı",
            html: "Bu kaydı silmek istediğinize emin misiniz? <br><b> bu işlem geri alanımaz.</b>",
            icon: "info",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Sil",
            cancelButtonText: "Vazgeç"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/AdminAlbum/DeleteAlbum/" + id;
            }
            else {
                Toast.fire({
                    icon: "warning",
                    title: "Kayıt Silme işlemi iptal edildi."
                });
            }
        });
    }
</script>

