@model EditArtistViewModel
@{
    ViewData["Title"] = "Index";

    Layout = "~/Areas/Artist/Views/ArtistLayout/Index.cshtml";
}
<div id="spinner" class="d-none">
    Lütfen Bekleyin.. &nbsp;
    <div class="spinner-border" role="status">
        <span class="sr-only"></span>
    </div>

</div>
<script>
    function showSpinner() {
        document.getElementById('spinner').classList.remove('d-none');
    }

</script>
<div style="justify-content:center; justify-content:space-around;  align-items:center; display:flex">
    <span style="font-weight:bold">Hoş Geldiniz, <span style="text-transform:capitalize"> @Model.Name
            @Model.Surname</span></span>
    <br />
    <br />
    <img src="@Model.ImageURL" class="shadow-lg p-3 mb-5 bg-white rounded"
        style="border-radius:50%;  width:150px; height:150px;" /><br />
    <br />
</div>


<form method="post" enctype="multipart/form-data">


    @Html.Label("Adınız")
    <input type="hidden" asp-for="ArtistId" class="form-control" />
    <input type="text" asp-for="Name" class="form-control" required />
    <span class="text-danger" asp-validation-for="Name"></span>
    <br />
    @Html.Label("Soyadınız")
    <input type="text" asp-for="Surname" class="form-control" required />
    <span class="text-danger" asp-validation-for="Surname"></span>
    <br />
    @Html.Label("Kullanıcı Adınız")
    <input type="text" asp-for="UserName" class="form-control" required />
    <span class="text-danger" asp-validation-for="UserName"></span>
    <br />

    <input type="text" asp-for="Email" class="form-control" />
    <span class="text-danger" asp-validation-for="Email"></span>
    <br />
    @Html.Label("Telefon Numaranız")
    <input type="text" asp-for="PhoneNumber" class="form-control" />
    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    <br />
    @Html.Label("Mevcut Şifreniz")
    <input type="password" asp-for="OldPassword" class="form-control" required />
    <span class="text-danger" asp-validation-for="OldPassword"></span>
    <br />
    @Html.Label("Yeni Şifreniz")
    <input type="password" asp-for="Password" class="form-control" />
    <span class="text-danger" asp-validation-for="Password"></span>
    <br />
    @Html.Label("Yeni Şifreniz Yeniden")
    <input type="password" asp-for="PasswordConfirm" class="form-control" />
    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
    <br />
    @Html.Label("Görsel")
    <input type="file" asp-for="ImageFile" id="fileName" class="form-control" />
    <span class="text-danger" asp-validation-for="ImageFile"></span>
    <br />




    @if (ViewBag.ResultPassword != null)

    {
        <div class="alert alert-danger">
            @Html.Raw(ViewBag.ResultPassword)
        </div>
    }
    <button class="btn btn-outline-primary">Güncelle</button>
</form>
