@model List<Album>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Index</h1>

@{
    int count = 0;
}

<table class="table table-bordered table-hover">

    <tr>
        <th>#</th>
        <th>Image</th>
        <th>Album Name</th>
        <th>Singer</th>
        <th>Fiyat</th>
        <th>Islemler</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td> <img src="@item.CoverImage" style="height:75px;width:75px" />  </td>
            <td> @item.AlbumName </td>
            <td> @item.Singer.Name  </td>
            <td> @item.Price $  </td> <base href="/" />
            <td>
                @* //  asp-action ve asp-route-id yeni  HREF YERINE KULLANILIYOR *@
                <button class="btn btn-outline-danger" onclick="deleteAlbum(@item.AlbumId)"> SIL </button>
                <a class="btn btn-outline-info" asp-action="UpdateAlbum" asp-route-id="@item.AlbumId"> GUNCELLE </a>

            </td>
        </tr>

    }

</table>

<a class="btn btn-outline-primary" asp-action="CreateAlbum"> Yeni Album Olustur </a>

<script>
    function deleteAlbum(id) {
        Swal.fire({
            title: "Silmek Istedigine Emin misin?",
            text: "Bu Islemi Geri Alamazsin",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
                cancelButtonText: "Iptal"
        }).then((result) => {
            if (result.isConfirmed) {

                window.location.href = "/AdminAlbum/DeleteSinger/" + id;
            }
        });

    }
</script>
